/* Global Resets & Utilities */

.hide-scroll::-webkit-scrollbar {
    display: none;
}

.hide-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    /* Ensure footer doesn't overlap content on short pages */
    min-height: 100vh;
}
